.nav{
	float:left;
}
.menu{
	width:250px;
	margin-bottom: 20px;
}

ul{
	margin:0;
	padding: 0;
}
.navigator{
	list-style: none;
	display:block;
}

.links_menu{
	display: block;
	background-color: #eff3f7;
	text-decoration: none;
	color:#d1d5dd ;
	padding:20px 0 20px 27px;
	width:222px;
	margin-left: 0px;
	font-size: 21px;
	position: relative;
}
.links_menu.first{
	border-radius: 5px 5px 0px 0px;
	font-size: 23px;
	padding: 20px 0 15px 27px;
}
.links_menu.third{
	border-radius: 0px 0px 5px 5px;
	padding-bottom: 20px;
}

.links_menu:hover{
	color:#3ba8c0;
}
.links_menu.active:hover{
	color:#FFF;

}

.active{
	display: block;
	background-color: #3ba8c0;
	color:#fff;
	
}

.border:after{
	content: "";
	position: absolute;
	bottom:0px;
	left:10px;
	width:230px;
	height:2px;
	background-color: #3ba8c0;
	
}




.links_contacts{
	width:170px;
	display: block;
	text-decoration: none;
	padding:8px 0 0 75px;
	color:#fff;
	position: relative;
	font-size: 17px;
	text-overflow:ellipsis;
	overflow: hidden;
}
.post:before{
	content: "";
	position: absolute;
	left:35px;
	top:6px;
	width: 22px;
	height: 22px;
	background-image: url(../img/spritesheet.png);
	background-position: 49.8% 1%;
}
.phone:before{
	content: "";
	position: absolute;
	left:32px;
	top:4px;
	width: 22px;
	height: 24px;
	background-image: url(../img/spritesheet.png);
	background-position: 45.5% 4%;
}
.skype:before{
	content: "";
	position: absolute;
	left:32px;
	top:6px;
	width: 22px;
	height: 22px;
	background-image: url(../img/spritesheet.png);
	background-position: 54% 10%;
}



.aside{
	width:250px;
}

.contacts{
	background-color: #3ba8c0;
	font-size: 21px;
	color: #fbfcfd;
	padding: 9px 0 5px 18px;
	border-radius: 5px 5px 0px 0px;
	font-family: Microsoft YaHei UI;
}
.contacts1{
	background-color: #41b9d4;
	color:#ededed;
	padding-bottom: 7px;
}
.contacts2{
	background-color: #48cbe8;
	color:#ededed;
	padding-bottom: 7px;

}
.contacts3{
	background-color: #51daf8;
	color:#ededed;
	border-radius: 0px 0px 5px 5px;
	padding-bottom: 7px;
	padding-top: 0px;
}
