.main{
	width:1020px;
	min-height:841px;
	margin: 0px auto 40px;
}

.section{
	margin: 0px 2px 0 0px;
	width:650px;
	float: right;
}

.clearfix:before, .clearfix:after{
	content:"";
	display:table;
}
.clearfix:after{
	clear:both;
}

.information{
	margin-bottom: 25px;
	background-color: #eff3f7;
}

.text_information{
	display: inline-block;
	border-bottom:2px solid #3ba8c0;
	padding:10px 20px 12px 20px;
	font-size: 27px;
	color:#3ba8c0;
}

.circle{
	width: 145px;
	height:145px;
	margin: 35px 0 0 50px;
	float:left;
	border: 3px solid #3ba8c0;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
}

.photo{
	width:100%;
	display: block;
	padding:0px 0px 20px 0px;
	
}

.information_content{
	padding: 0px 20px 0 0px;
	min-height:200px;
	float:right;
}

.name_info_fonts{
	font-family: 'fira_sansmedium';
	font-size: 17px;

}

.info.first{
	margin:20px 0px 0 -45px;
}
.info{
	margin: 0 0 8px -45px;
}

.skils{
	display: inline-block;
	float:right;
	padding: 0 0px 25px 20px;
	width:230px;
	min-height:75px;
	vertical-align: top;
}

.web{
	min-width:50px;
	min-height: 20px;
	padding:0px;
	margin:0 0px 7px 2px ;
	background-color: green;
	display: inline-block;
	background-image: -moz-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
	color:#fff;
	text-align: center;
	font-size: 14px;
	border-radius: 3px;
}
.web.js{
	min-width:80px;
}

.experience{
	background-color: #eff3f7;
	margin:0px 0 25px 0;
}

.text_information_experience{
	display: inline-block;
	border-bottom:2px solid #3ba8c0;
	padding:15px 20px 10px 20px;
	font-size: 27px;
	color:#3ba8c0;
	margin-bottom: 25px;
}

.experience_content_block{
	list-style: none;
	margin:0px 0 0px 125px;
	padding-bottom: 10px;
}
.experience_part{
	padding: 0 0 8px 0px;
	margin:0px;
	position: relative;
}
.experience_name{
	display: inline-block;
	font-size: 17px;
	padding: 0 0 0px 0;
}
.experience_part:before{
	content:"";
	position:absolute;
	left:-70px;
	top: 0px;
	width:36px;
	height:35px;
	background: url(../img/spritesheet.png) 99.3% 20% no-repeat;
}

.experience_data{
	display: block;
	font-family: 'fira_sanslight';
	font-size: 15px;
	padding: 0px  0 10px 0;
	margin: 0px;
}

.study{
	background-color: #eff3f7;
	margin:0px;
	padding: 0px;
}
.text_information_study{
	display: inline-block;
	border-bottom:2px solid #3ba8c0;
	padding:8px 23px 10px 20px;
	font-size: 27px;
	color:#3ba8c0;
	margin-bottom: 20px;
}
.study_img{
	padding: 0 0 5px 0px;
	position: relative;
}
.study_img.first:before{
	content:"";
	position:absolute;
	left:-70px;
	top: 7px;
	width:41px;
	height:35px;
	background: url(../img/spritesheet.png) 60% 20% no-repeat;
}
.study_img.second:before{
	content:"";
	position:absolute;
	left:-70px;
	top: 0px;
	width:36px;
	height:35px;
	background: url(../img/spritesheet.png) 0% 20% no-repeat;
}
.data_stady{
	display: block;
	font-family: 'fira_sanslight';
	font-size: 15px;
	padding: 0px  0 10px 0;
	margin: 0px;
}