.section_my_works{
	min-height: 841px;
	background-color: #eff3f7;
	margin:40px 0 0 0;
}

.my_works{
	width:185px;
	min-height:205px;
	display: inline-block;
	margin:28px 0px 0 22px;
	position: relative;
}

.picture_works{
	height:100%;

}
.work_image_link{
	display: block;
	width: 181px;
	height:127px;
	border: 2px solid #3ba8c0;
	border-radius: 5px;
	overflow: hidden;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	position: relative;
}
.div_name_works{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height:100%;
	background-color: rgba(59, 168, 192, 0.75);
	visibility: hidden;
}

.name_works{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	border: 2px solid white;
	border-radius: 5px;
	padding:5px;
}

.my_works_addres:hover .div_name_works,
.my_works_addres:hover .name_works{
	visibility: visible;
}

.site_name_link{
	display: block;
	margin:5px 0 10px 50px;
	font-size: 13px;
	color: #3ba8c0;
}

.works_info{
	text-align: center;
	font-size: 15px;
}

.work_image_link.last{
	border:0px;
}
.add_works{
	margin-top: 50px;
	text-align: center;
	font-size: 15px;
}

