body, html{
	background: url(../img/background.png);
	height:100%;
	width:100%;
}
*{
	font-family: firaSans;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.header{
	min-width:1400;
	min-height: 107px;
	background-color:#eff3f7;
}

.header_content{
	width:1200px;
	height:55px;
	padding:30px 0 0 100px;

}

.logo{
	float:left;
}

.social_network{
	float:right;
}

.link{
	margin-right: 15px;
	margin-top: -5px;
}

.vk{
	background-image: url(../img/spritesheet.png) ;
	width:50px;
	height: 50px;
	background-position: 84.7%;
display:inline-block;
}
.vk:hover{
	background-image: url(../img/spritesheet.png) ;
	width:50px;
	height: 50px;
	background-position: 93%;
}

.fb{
	background-image: url(../img/spritesheet.png) ;
	width:50px;
	height: 50px;
	background-position: 9.9%;
display:inline-block;
}
.fb:hover{
	background-image: url(../img/spritesheet.png) ;
	width:50px;
	height: 50px;
	background-position: 18.2%;
}

.tw{
	background-image: url(../img/spritesheet.png) ;
	width:50px;
	height: 50px;
	background-position: 68%;
display:inline-block;
}
.tw:hover{
	background-image: url(../img/spritesheet.png) ;
	width:50px;
	height: 50px;
	background-position: 76.4%;
}

.github{
	background-image: url(../img/spritesheet.png) ;
	width:50px;
	height: 50px;
	margin-right:0;
	background-position: 26.7%;
display:inline-block;
}
.github:hover{
	background-image: url(../img/spritesheet.png) ;
	width:50px;
	height: 50px;
	background-position: 35%;
}

.header:after{
	content:"";
	position: absolute;
	top:105px;
  background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -ms-linear-gradient( 10deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);

  width: 1200px;
  height: 3px;
  
}


.empty{
	height: 80px;
}


