.main{
	width:1020px;
	min-height:841px;
	margin: 0px auto;
}

.section{
	margin: 2px 2px 0 0px;
	width:650px;
	min-height: 840px;
	float: right;
}

.clearfix:before, .clearfix:after{
	content:"";
	display:table;
}
.clearfix:after{
	clear:both;
}

.information{
	min-height: 320px;
	background-color: #eff3f7;
	margin:40px 0 0 0;
}

.text_information{
	border-bottom:2px solid #3ba8c0;
	width:340px;
	padding:18px 0 15px 20px;
	font-size: 27px;
	color:#3ba8c0;
}

.circle{
	width: 145px;
	height:145px;
	margin: 35px 0 0 50px;
	float:left;
	border: 3px solid #3ba8c0;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
}

.photo{
	width:100%;
	display: block;
	padding:0px 0px 20px 0px;
	
}

.information_content{
	width:380px;
	min-height:200px;
	float:right;
}

.name_info_fonts{
	font-family: FiraSans medium;
	font-size: 17px;
}

.info.first{
	margin:22px 0px 0 -45px;
}
.info{
	margin-left:-45px;
}

.skils{
	display: block;
	float:right;
	margin: 0 20px 0 0px;
	width:230px;
	min-height:75px;
}

.web{
	min-width:50px;
	min-height: 20px;
	padding:0px;
	margin:0 0px 7px 2px ;
	background-color: green;
	display: inline-block;
	background-image: -moz-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
	color:#fff;
	text-align: center;
	font-size: 14px;
	border-radius: 3px;
}
.web.js{
	min-width:80px;
}

.experience{
	min-height: 230px;
	background-color: #eff3f7;
	margin:25px 0 0 0;
}

.text_information_experience{
	border-bottom:2px solid #3ba8c0;
	width:185px;
	padding:21px 0 15px 20px;
	font-size: 27px;
	color:#3ba8c0;
}

.experience_content_block{
	list-style: none;
	margin:25px 0 0 85px;
}
.experience_part{
	padding: 0 0 25px 0px;
	position: relative;
}
.experience_part:before{
	content:"";
	position:absolute;
	left:-70px;
	top: 0px;
	width:36px;
	height:35px;
	background: url(../img/spritesheet.png) 99.3% 20% no-repeat;
}

.experience_data{
	font-family: FiraSans light;
	font-size: 15px;
}

.study{
	min-height: 230px;
	background-color: #eff3f7;
	margin:25px 0 0 0;
}
.text_information_study{
	border-bottom:2px solid #3ba8c0;
	width:190px;
	padding:21px 0 20px 20px;
	font-size: 27px;
	color:#3ba8c0;
}
.study_img{
	padding: 0 0 25px 0px;
	position: relative;
}
.study_img.first:before{
	content:"";
	position:absolute;
	left:-70px;
	top: 0px;
	width:41px;
	height:35px;
	background: url(../img/spritesheet.png) 60% 20% no-repeat;
}
.study_img.second:before{
	content:"";
	position:absolute;
	left:-70px;
	top: 0px;
	width:36px;
	height:35px;
	background: url(../img/spritesheet.png) 0% 20% no-repeat;
}