
.form_enter{
	width:590px;
	height:490px;
	background-color: #eff3f7;
	margin: 200px auto 270px;
}
.header_enter{
	width:455px;
	height:70px;
	background-color: #48cbe8;
	position: relative;
	font-size:40px;
	color:#fff;
	padding:20px 0 0 135px;
	letter-spacing: 3px;
	margin-bottom: 35px;
}
.header_enter:after{
	content:"";
	position:absolute;
	top:90px;
	left:0px;
	width:590px;
	height:15px;
	background-color: #67dffa;

}

.label_enter_name{
	display: block;
	margin:0px;

}
.your_enter_name{
	display: block;
	font-size: 36px;
	color:#959aa8;
	text-align: center;
	margin-bottom: 0px;

}
.input_enter_name{
	width:405px;
	height:58px;
	margin: 0px 0 15px 82px;
	padding-left:18px;
	border:1px solid #48cbe8;
	border-radius: 5px;
}
::-webkit-input-placeholder{color:#48cbe8;}
::-moz-placeholder          {color:#48cbe8;}/* Firefox 19+ */
:-moz-placeholder           {color:#48cbe8;}/* Firefox 18- */
:-ms-input-placeholder      {color:#48cbe8;}

.enter_submit{
	width:230px;
	height:53px;
	margin:21px 0 0 180px;
	background-color: #48cbe8;
	border:1px solid #48cbe8;
	border-radius: 5px;
	font-size: 36px;
	text-align: center;
	color:#fff;
	box-shadow: 0 2px 0px rgba(0,0,0,0.5);
}