body{
	background: url(../img/background.png);
	height:100%;
	width:100%;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.header{
	min-width:1400px;
	min-height: 115px;
	background-color:#eff3f7;
}

.vk{
	background-image: url(../img/spritesheet.png);
	width:50px;
	height: 50px;
	background-position:;
}

.empty{
	height: 80px;

}

.footer{
	background-color: #eff3f7;
	min-width:1400px;
	min-height:77px;
	margin-top: 80px;
	position: relative;
	border-top:3px solid red;
}
